body
{
    background-color: silver;
    overflow: hidden;
}

.right
{
    /* background-color: aqua; */
    height: 300px;
    width: 300px;
    transition: 0.3s linear;

}

.con
{
    /* opacity: 0;
    visibility: hidden; */
    height: 80px;
    width: 300px;
    position: relative;
    background:transparent;
    /* background-color: aliceblue; */
    /* margin-top: -50px; */
    box-sizing: border-box;
    bottom: 70px;
    text-align: center;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    transition: 0.3s linear;
    margin-top: -10px;
}

p
{
    opacity: 0;
    visibility: hidden;
}

.right:hover .con
{
    height: 200px;
    bottom: 200px;
}
.right:hover .con
{
    height: 200px;
    bottom: 200px;
}
.right:hover p
{
    opacity: 1;
    visibility: visible;
    font-size: 20px;
    
}

img
{
   
    height: 300px;
    width: 300px;
    text-align: center;
    
}
.con:hover
{
    scale: 20px;
}

.left
{
    background-color: aqua;
    height: 300px;
    width: 300px;
    
    padding: 20px;
}
.app
{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 90px;
}
.bottom
{
    background-color: rgb(9, 6, 6);
    height: 120px;
    width: 102%;
    margin-top: 100px;
    margin-left: -10px;
    display: flex;
    justify-content: space-around;
    color: wheat;
    text-align: center;
    /* margin: 20p; */
    position: relative;
    padding:2px;
}